@keyframes hide-titlePage{
	0% {opacity: 1;} 
	80% {opacity: 0;transform:translate(0);}
	100% {opacity: 0;transform:translate(100%);}
}
@-webkit-keyframes hide-titlePage{ 
	0% {opacity: 1;} 
	80% {opacity: 0;transform:translate(0);}
	100% {opacity: 0;transform:translate(100%);}
}

@keyframes titleText-upMove{
	0% {transform: translate(0);} 
	100% {transform: translate(0,-40%);}
}
@-webkit-keyframes titleText-upMove{ 
	0% {transform: translate(0);} 
	100% {transform: translate(0,-40%);}
}


html{height: 100%;}

body{
	height: 100%;
	margin: 0 0 0 0;

}

#titlePage{
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(../img/titleBg.png);
	background-size: cover;
	background-position: center;
	text-align: center;
	overflow: hidden;
}
	#plane{
		float: left;
		position: absolute;
		top: 0;
		left: 0;
		width: 30%;
		transform-origin: right center;
	}
	#titleText{
		position: absolute;
	}
	.stroke{
		position: absolute;
		transform-origin: left top;
	}		


#contentPage{
	position: absolute;
	width: 100%;
	height: 100%;
	float: right;
	background-image: url(../img/contentBg.png);
	background-size: cover;
	background-position: center;
	text-align: center;
}
	#birdDiv{
		position: relative;
		top:0;
		width: 100%;
		height: 100%;
		max-height: 750px;
	}
		#bird{
			position: absolute;
			left: 0;
			width: 100%;
			height: 39.7%;
			pointer-events:none;
		}
		.card{
			position: absolute;
			transform-origin: center top;
		}

#loading{
	position: fixed;
	left: 0; top: 0;
	width: 100%;
	height: 100%;
	color: rgba(150,150,150);
	background-color: rgba(221,232,242,0.75);
	text-align: center;
	padding-top: 50%;
	font-size: 32px;
	line-height: 50%;
}